// Grid.
$xs	: 375px;
$sm	: 480px;
$m	: 576px;
$md	: 768px;
$lg	: 992px;
$xl	: 1200px;
$xxl: 1366px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1200px;

// Container padding.
$container-padding: 24px;

// Font families.
$ff			: 'Mazzard H', Arial, sans-serif;

// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 15px;
$fs-md	: 20px;
$fs-lg	: 30px;
$fs-xl	: 36px;

// Font weights.
$fw-light	: 300;
$fw-regular	: 400;
$fw-medium	: 500;
$fw-bold	: 700;

// Line heights.
$lh			: 1.5;
$lh-title	: 1.3;

// Colors.
$white	: #FFFFFF;
$black	: #000000;
$main   : #FBFBFF;
$cult   : #EFEFEF;
$silv   : #808A9F;
$jet    : #343434;
$accent : #708090;

// Others.
$tr: 0.35s;
$op: 0.7;