.pattern-testimonials {
    padding: 20px 0;

    @media all and (min-width: $md) {
        padding: 50px 0;
    }

    .container {
        max-width: 1200px;
    }

    &-items {
        display: flex;
    }

    &-item {
        margin-bottom: 30px;
    }

    &-inner {
        max-width: 800px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(235, 235, 235, 0.966);
        border-radius: 10px;
    }

    &-img {
        margin-bottom: 30px;
    }

    &-name {
        font-weight: $fw-bold;
        font-size: 14px;
        text-align: center;
        color: $jet;

        @media all and (min-width: $m) {
            font-size: 16px;
        }
    }

    &-from {
        font-size: 12px;
        text-align: center;
        color: $jet;
        margin-bottom: 20px;

        @media all and (min-width: $m) {
            font-size: 14px;
        }
    }

    &-text {
        text-align: center;
        font-size: 14px;
        min-height: 200px;
        color: $jet;
        padding: 0 10px;

        @media all and (min-width: $sm) {
            font-size: 16px;
        }

        @media all and (min-width: $m) {
            font-size: 18px;
        }
    }

    .swiper-button-forw {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 2;

        @media all and (min-width: $lg) {
            left: 5%;
        }

        &::before {
            content: "";
            position: absolute;
            display: inline-block;
            border-bottom: 10px solid $jet;
            border-right: 10px solid $jet;
            width: 20px;
            height: 20px;
            top: 50%;
            left: 0;
            transform: rotate( 135deg );

            @media all and (min-width: $lg) {
                width: 30px;
                height: 30px;
            }
        }
    }
    .swiper-button-back {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 2;

        @media all and (min-width: $lg) {
            right: 5%;
        }

        &::before {
            content: "";
            position: absolute;
            display: inline-block;
            border-bottom: 10px solid $jet;
            border-right: 10px solid $jet;
            width: 20px;
            height: 20px;
            top: 50%;
            right: 0;
            transform: rotate( -45deg );

            @media all and (min-width: $lg) {
                width: 30px;
                height: 30px;
            }
        }
    }

    &-wrapp {
        position: relative;
    }

    .swiper {
        max-width: 800px;

        &-wrapper {
            max-width: 800px;
        }
    }
}

