.alert {
    padding: 40px 0;

    .container {
        max-width: 1200px;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @media all and (min-width: $m) {
            flex-direction: row;
        }
    }

    &-text {
        display: flex;
        justify-content: center;
        width: 100%;
        font-weight: $fw-bold;
        font-size: 15px;
        text-align: center;

        @media all and (min-width: $md) {
            font-size: 20px;
        }

        @media all and (min-width: $xl) {
            font-size: 24px;
        }
    }

    &-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        @media all and (min-width: $m) {
            justify-content: flex-end;
            width: 20%;
            margin-bottom: 0;
        }

        img {
            max-width: 50%;

            @media all and (min-width: $md) {
                max-width: 100%;
            }
        }
    }
}