.contacts {
    padding: 190px 0 40px;

    .container {
        max-width: 1200px;
    }

    &-info {
        display: flex;
        &-img {}

        &-img-wrapp {
            width: 50%;
            display: flex;
            justify-content: center;
        }

        &-text-wrapp {
            width: 50%;
            display: flex;
            flex-direction: column;
        }

        &-text {
            margin-bottom: 20px;
            span {
                font-size: 24px;
                text-transform: uppercase;
                color: $span;
            }
        }

        &-link {
            color: $jet;
        }
    }
}