.header {
	padding: 15px 0;
	background: $cult;


	&-menu {}

	&-submenu-links {
		padding: 5px;
		background: $main;
		position: absolute;
		display: none; //
		top: 120%;
		right: 52%;
		transform: translateX( 50% );
		border-radius: 5px;
		box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	}

	&-submenu-link {
		margin-right: 20px;
		font-size: 20px;
		white-space: nowrap;
		color: $jet;

		&:last-child {
			margin-right: 0;
		}
	}

	&-logo {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: opacity ease $tr;

		img {
			width: 50%;
			position: absolute;
			top: 40%;
			right: 50%;
			transform: translate( 50%,-50%);
			opacity: 0.5;
		}
	}

	&-logo-text {
		font-size: 12px; //
		background: $cult;
		line-height: 1;
		z-index: 1;
	}

	&-wrapper {
		display: flex;
		justify-content: space-between;
	}

	&-menu-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		position: relative;
		top: 60px;
		opacity: 0;

		&.opened {
			transition: opacity ease $tr;
			opacity: 1;
			position: fixed;
			right: 0;
			top: 60px;
			background: $silv;
			width: 70%;
			height: calc( 100% - 60px);
			justify-content: center;
			align-items: flex-start;

			.header-menu-list {
				width: 100%;
				display: flex;
				flex-direction: column;
			}

			.header-menu-list-item.has-children {
				display: flex;
				justify-content: center;
				width: 100%;
				margin: 0;
				height: auto;
			}

			.header-menu {
				width: 100%;
			}

			.header-menu-link {
				font-size: 20px;
				position: static;
				line-height: $lh;
				width: 100%;
				margin-bottom: 10px;

				&::before {
					display: none;
				}
			}

			.header-inner {
				display: flex;
				justify-content: center;
				order: 2;
			}

			.header-work {
				display: flex;
				font-size: 14px;
				margin-top: 20px;
			}

			.header-contacts {
				display: flex;
				order: 1;
				margin-bottom: 40px;
				width: 100%;

				&-phone {
					text-align: center;
				}
			}

			.header-submenu-links {
				display: flex;
				flex-direction: column;
				position: static;
				width: 100%;
				transform: translateX(0);
				background: transparent;
				box-shadow: none;
				align-items: center;
				order: 3;
			}

			.header-submenu-link {
				display: flex;
				justify-content: center;
				width: 100%;
				margin: 0 0 10px 0;
			}
		}
		.header-submenu {
			display: none;
		}
	}

	&-inner {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&-submenu {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		opacity: 0;
		visibility: hidden;
		z-index: -10;
		transition: opacity ease-out $tr;
		position: relative;

		li {
			width: 14%;
		}
	}

	&-menu-list {
		display: none; //
		justify-content: center;
		align-items: center;

		&-item {
			display: flex;
			margin-right: 20px;
			color: $jet;
			white-space: nowrap;

			&:nth-child(3) .header-submenu {
				li {
					width: 33.333%;
				}
			}

			&:nth-child(4) .header-submenu, &:nth-child(5) .header-submenu {
				li {
					width: 25%;
				}
			}

			&:last-child {
				margin-right: 0;
			}

			&.has-children {
				z-index: 10;

				ul {
					padding: 20px;
					background: $cult;
					position: absolute;
					top: 100%;
					left: 50%;
					transform: translateX( -50% );
					border-radius: 5px;
					box-shadow: 2px 0px 23px 0px rgba(0,0,0,0.75);
					text-transform: uppercase;
					font-size: 15px;
				}

				li {
					display: flex;
					justify-content: center;
					margin-bottom: 10px;
					margin-right: 0;

					&:last-child {
						margin-bottom: 0;
					}
				}

				&:hover {
					& > ul {
						opacity: 1;
						visibility: visible;
						z-index: 0;
					}
				}
			}
		}
	}

	&-menu-link {
		display:flex;
		justify-content: center;
		align-items: center;
		color: $jet;
		color: $jet;
		font-size:20px;
		line-height: 60px;
		text-decoration:none;
		position: relative;

		&:hover::before {
			transform: rotate(0);
			border-right: 0;
		}

		&::before {
			content: "";
			position: absolute;
			top: 70%;
			right: 50%;
			width: 5px;
			height: 5px;
			border-right: 3px solid $jet;
			border-bottom: 3px solid $jet;
			transform: rotate( 45deg )
						translateX( 50% );
			transition: all ease $tr;
		}
	}

	&-contacts {
		position: relative;
		display: none; //
		flex-direction: column;
	}

	.header-work {
		display: none; //
	}
}