.footer {
	padding: 10px 0;
	background: $silv;

	@media all and (min-width: $md) {
		padding: 50px 0;
	}

	.container {
		max-width: 1200px;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		margin: 50px 0 40px 0;
		position: relative;

		@media all and (min-width: $md) {
			font-size: 20px;
			justify-content: space-between;
			flex-direction: row;
			margin-bottom: 0;
		}
	}

	&-nav-inner {
		width: 100%;
		margin-bottom: 40px;

		@media all and (min-width: $md) {
			width: 50%;
		}
	}

	&-nav {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media all and (min-width: $md) {
			flex-direction: row;
		}
	}

	&-nav-wrapp {
		display: flex;
		flex-direction: column;

		@media all and (min-width: $md) {
			margin-right: 50px;
		}
	}

	&-nav-link {
		color: $main;
		transition: ease opacity $tr;
		font-size: 15px;
		text-align: center;
		margin-bottom: 20px;

		@media all and (min-width: $m) {
			font-size: 18px
		}

		@media all and (min-width: $lg) {
			font-size: 20px
		}
	}

	&-address-wrapper {
		display: flex;
		flex-direction: column;
		color: $main;
		text-align: center;
	}

	&-work {
		font-weight: $fw-bold;
		margin-bottom: 10px;

		@media all and (min-width: $md) {
            font-size: 15px;
        }
	}

	&-address {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;

		@media all and (min-width: $md) {
            font-size: 12px;
        }
	}

	&-address-title {
		font-size: 20px;

		@media all and (min-width: $md) {
            font-size: 14px;
        }

		@media all and (min-width: $lg) {
            font-size: 18px;
        }
	}

	&-address-text {
		font-size: 15px;

		@media all and (min-width: $md) {
            font-size: 12px;
        }

		@media all and (min-width: $lg) {
            font-size: 15px;
        }
	}

	&-address-link {
		color: $main;
		margin: 10px 0 0;

		@media all and (min-width: $md) {
            font-size: 18px;
        }

		@media all and (min-width: $lg) {
            font-size: 20px;
        }
	}

	&-pay {
		display: flex;
		justify-content: center;
		margin: 40px 0;
	}

	&-pay-items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;
	}

	&-pay-item {
		display: flex;
		padding: 0 20px;
		width: calc( 100% / 4 );

		img {
			display: block;
		}
	}

	&-privacy-text {
		font-size: 12px;
		text-align: center;
	}

	&-data {
		margin-top: 15px;
		text-align: center;
		font-size: 14px;
	}
}